.Video-descs
{
    background-color: rgba(0, 0, 0, 0.819);
    width: 100%;
}
.desc-principal 
{
    font-weight: 100;
    display: flex;
    color: white;
    flex-wrap: wrap;
    padding: 10px;
    
}
.desc-principal h2 {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.canal, .curtir {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.canal img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.canal, .curtir {
    flex-grow: 1;
}
#inscrever{
    font-size: 1rem;
    height: 40px;
    padding: 5px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.curtir {
    justify-content: right;
}
.curtir-b {
    color: white;
    height: 40px;
    background-color: rgba(44, 44, 44, 0.633);
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.sqr{
    width: 40px;
    border-radius: 50%;
    
}
.desc-secundaria {
    color: white;
    background-color: rgb(49, 49, 49);
    /*NAO SEI SE ADICIONO ISSO AQUI*/
    border-radius: 5px;
}
.desc-secundaria p {

    padding: 10px;
}